* { /* Configuração Global */
   margin: 0px;
   padding: 0px;}
:root{ /* Cores Utilizadas */
   --cor-AzulEscuro: #05517D;
   --cor-AzulCinza: #91b3c7;
   --cor-AzulMuitoEscuro: #06194E;
   --cor-GhostWhite: #F8F8FF;
   --cor-fundo-SkyBlue: rgba(135,206,235, .3);}

body { 
   background-color: var(--cor-fundo-SkyBlue);
   font-family: Arial, sans-serif;} 
   
#js-cabecalho {
   text-align: center;
   font-size: 20pt;
   padding: 5px;
   color: var(--cor-GhostWhite);
   background-color: var(--cor-AzulEscuro);}

.resultado {
   margin-top: 30px;
   padding: 10px;
   background-color: var(--cor-AzulCinza);}
.resultado h1 {
   color: var(--cor-GhostWhite);}